.home-conatiner {
    width: 100%;
    height: 100vh;
    padding: 0px 30px;
}

.navbar {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}

.middle-menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.middle-menu ul li {
    list-style-type: none;
    cursor: pointer;
    transition: 0.5s;

}

.middle-menu ul li:hover {
    color: rgb(8, 209, 209);
}


.logo-left h1 {
    font-size: 1.5rem;
    /* background: linear-gradient(267deg, teal, white, teal);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: rgb(8, 209, 209);
    cursor: pointer;
}

.connect-btn {
    padding: 10px 20px;
    background-color: transparent;
    border: none;
    border-radius: 100px;
    color: rgb(209, 204, 204);
    border: 1.5px solid rgb(209, 204, 204);
    cursor: pointer;
    transition: 0.6s;

}

.connect-btn:hover {
    background-color: rgb(5, 158, 158);
    transform: scale(1.05);
}




