.about-page {
    width: 100%;
    min-height: 100vh;
    height: auto;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 80px;

}

.about-page .upperpart {
    display: flex;
    width: 100%;
    padding: 0 70px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    
    gap: 6vw;
}

.logo-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boy_img_style {
    width: 300px;
    height: 300px;
}
.about-page .upperpart .logo-img {
    width: 300px;
    height: 300px;
    background-color: teal;
    border-radius: 50%;
    box-shadow: 0 0 20px teal;

}



.about-page  h3 {
    font-size: 1.5rem;
    display:inline-block;
    text-align: center;
    position: relative;
    text-shadow: 0 0 10px;
    
}

.about-page h3 .underline {
    width: 90px;
    height: 3px;
    background:linear-gradient(267deg, teal, blue);
    position: absolute;
    bottom: -20%;
    right: 45%;
    box-shadow: 0 0 10px teal;
}

.right-part {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 50px 20px;
}

.skills-langauges {
    width: 400px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;

}

.skill {
    padding: 3px 10px;
    background-color: #2c2b2b;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    font-size: 14px;
    cursor: pointer;
}

.skill:hover {
    transform: scale(1.05);
}

.right-part p {
    color: #747171;
}

.introduction-after {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.introduction-after .heading {
    color: teal;
    font-size: 20px;
    text-shadow: 0 0 10px;
    text-align: center;
    
}

.introduction-after .langauges {
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    overflow: hidden; 
}

.introduction-after .langauges .individual-item {
    padding: 20px 40px;
    background-color: #2c2b2b;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 7px;
    transition: all 0.5s;
}

.green-color {
    color: rgb(11, 214, 11);
}
.yellow-color {
    color: yellow;
}

.red-color {
    color: red;
}


.introduction-after .langauges .individual-item .efficiency-para {
    font-size: 14px;
}
.introduction-after .langauges .individual-item .item-title {
    font-weight: 600;
}

.green-border {
    border-left: 3px solid rgb(11, 214, 11);
}

.yellow-border {
    border-left: 3px solid yellow;
}

.red-border {
    border-left: 3px solid red;
}

.introduction-after .langauges .individual-item:hover {
    transform: scale(1.05);
    transition: all 0.5s;
}
