.contact-page {
    width: 100%;
    height: auto;
    max-height: 100vh;
    padding: 30px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}