form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: transparent;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}

form input {
    background: #fff;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
}

form textarea {
     background: #fff;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
}

form button {
    background: rgb(7, 143, 221);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    transition: all 0.5s;
}

form button:hover {
    background-color: rgb(4, 115, 179);
}