@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&family=Lato:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing:0.05cm;
  word-spacing: 0.05cm;
}


h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
}

body, html {
  width: 100%;
  height: 100%;
  background-color: #111;
  color: #fff;
  font-family:system-ui,'Open Sans', 'Helvetica Neue', sans-serif;
}


::selection {
  color: rgb(8, 153, 225);
}

.app-container {
  background-color: #111;
  color: #fff;
  
  
}








